.Parent_layout {
    display: flex;
}

.side_bar_container{
    height: 100%;
    background-color: aqua;
}

.outlet_parent {
    width: 100%;
    background-color: rgb(50, 177, 177);
}

.body_right{
    width: 450px;
    height: 100vh ;
    background-color:bisque;
}