.sidebar {
    width: 170px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.top_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.mid {
    height: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 3rem 1rem;
}

.nav{
    cursor: pointer;
}

.nav:hover{
    color: rgb(205, 202, 202);
}
  
.logo {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2rem;
}
  
.logo svg {
    width: 50px;
    height: 50px;
    color: white;
    fill: white;
}

.bottom{
    flex: 1;
    padding-bottom: 3rem;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}