*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
}

.top_bar{
    width: 100%;
    height: 60px;
    background-color: #37373b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.top_bar input{
    width: 250px;
    height: 30px;
    font-size: 12px;
    padding-left: 1rem;
    border-radius: 4px;
}

.top_bar button{
    width: 200px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.top_bar button:hover{
    background-color: #c8c8c8;
}

.card{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

.card_left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_left img{
    width: 100%;
    height: 260px;
}

.card_right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card_right_top{
    width: 100%;
    height: 100%;
    padding: 10px 10px 0 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.name{
    font-weight: 500;
    font-size: 16px;
}

.cuisine{
    font-size: 14px;
    font-weight: 400;
}

.card_right_bottom{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.card_right_bottom button{
    width: 100px;
    height: 33px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.card_right_bottom button:hover{
    text-decoration: underline;
}

.body{
    width: 100%;
    height: 680px;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    overflow-y: auto;
    gap: 1rem;
}

.body::-webkit-scrollbar {
    display: none;
  }